@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url('../../../assets/styles/general.css');
@import url('../../../assets/styles/header.css'); 
/* @import url('../../../assets/styles/video.css');
@import url('../../../assets/styles/sidebar.css'); */ */


.hspan{
  position: relative;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  color:#78b9ea;
  left: -1.5rem;     
  border-top: 2px solid; 
  margin-top:40px;
  font-style: italic;
}

.search-bar::placeholder {
  font-size: 16px;
}
.search-button {
  height:40px;
  width:65px;
  border: 1px solid rgb(192,192,192);
  border-radius: 0px 40px 40px 0px;
  background-color: rgb(240, 240, 240);
  box-shadow: rgb(0, 0, 0, 0.1) 0px 1px 0px 0px;
  margin-left: -0.6px;
  margin-right: 10px;
  position: relative;
}

.search-button .tooltip, 
.voice-search-button .tooltip,
.facebook-icon-container .tooltip,
.instagram-apps-container .tooltip,
.twitter-apps-container .tooltip,
.notifications-icon-container .tooltip 
 {
  position: absolute;
  background-color: gray;
  color: white;
  padding:4px 8px 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom:-30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.facebook-icon-container:hover .tooltip,
.instagram-apps-container:hover .tooltip,
.twitter-apps-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  cursor: pointer;
  opacity: 1;
}
.search-button, 
.voice-search-button, 
.facebook-icon-container,
.instagram-apps-container,
.twitter-apps-container,
.notifications-icon-container
 {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.voice-search-button {
  background-color: rgb(240, 240, 240);
  height:40px;
  width:40px;
  border-radius: 20px;
  border:none;
  position: relative;
}
.voice-search-icon {
  height:24px;
  margin-top:4px;
  vertical-align:middle;
  line-height: 24px;
}

.facebook-icon, 
.instagram-apps-icon,
.notifications-icon,
.twitter-apps-icon {
  height:24px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position:absolute;
  top:-2px;
  right:-5px;
  background-color: rgb(200, 0, 0);
  color:white;
  font-size: 11px;
  border-radius: 10px;
  padding:2px 5px 2px 5px;
}
.current-user-picture {
  height:32px;
  border-radius: 16px;
}

.menu-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  top: -0.2em;
  left: 0.2em;
  font-size: 24px;
  cursor: pointer;
}

.hamburger, 
.hamburger::before, 
.hamburger::after {
  content: '';
  background: #ebebd3;
  height:3px;
  width: 1.75em;
  display:block;
}

