
<header class="header">
 <div class="left-section">
     <!-- <img class="hamburger-menu" src="../../../assets/icons/menu.png" alt="">
     <img class="youtube-logo" src="../../../assets/images/ball.svg" alt=""> -->
     <!-- <button class="menu-toggle">
       <div class="hamburger"></div>
     </button> -->
     <!-- <i class="fa-thin fa-bars"></i> -->
     <button class="menu-toggle"><i class="fa-thin fa fa-bars"></i></button>
     <!-- <i class="fa-thin fa fa-bars menu-toggle"  aria-hidden="true"  type="button"></i> -->
    <!-- <span  class="hspan">Analizer</span>    -->
  </div> 
  <div class="middle-section">
    <input type="text" class="search-bar" placeholder="Search">
     <button class="search-button">
       <img class="search-icon" src="../../../assets/icons/search.svg" alt="">
       <div class="tooltip">Search</div>
     </button>
     <button class="voice-search-button">
       <img class="voice-search-icon" src="../../../assets/icons/voice-search-icon.svg" alt="">
       <div class="tooltip">Search with your voice</div>
     </button>
  </div>
  <div class="right-section">
    <div class="facebook-icon-container">
      <img class="facebook-icon" src="../../../assets/icons/facebook.svg" alt="">
      <div class="tooltip">Facebook</div>
    </div>
    <div class="instagram-apps-container">
      <img class="instagram-apps-icon" src="../../../assets/icons/instagram.svg" alt="">
      <div class="tooltip">Instagram</div>
    </div>
    <div class="twitter-apps-container">
      <img class="twitter-apps-icon" src="../../../assets/icons/twitter.svg" alt="">
      <div class="tooltip">Twitter</div>
    </div>
    <div class="notifications-icon-container">
      <img class="notifications-icon" src="../../../assets/icons/notification-32.png" alt="">
      <div class="notifications-count">
         3
      </div>
      <div class="tooltip">Notifications</div>
    </div>
    <img class="current-user-picture" src="../../../assets/icons/user-32.png" alt="">
  </div>
</header>
