/* You can add global styles to this file, and also import other style files */
/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
} */

body {
  font-family: Roboto, Arial;
  margin: 0;
  padding-top: 80px;
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(248, 248, 248);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
 
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

#tabla {
  background-color: var(--clr-primary-7);
  width:100%;
  height: 380px;
}
#tabla tr:hover td{
 cursor: pointer;
 background-color:#e79999;
 }
/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
  cursor:pointer;
}

.social-icons {
  display: none;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  list-style: none; 
}
.links a {
  color: var(--clr-grey-3);
  font-family: Oswald;
  font-size: 18px;
  font-weight: 300px;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  /* padding: 0 26px; */
  transition: var(--transition);
}

 .links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-red-light);
  padding-left: 1.5rem;
} 
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
   .links {
    height: auto;
    display: flex;
  } 
  .links a {
    padding: 0;
    /* margin: 0 0.5rem; */
    margin: 0 16px;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
    list-style: none;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}



/* Positionin*/

.c-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, #fff 68px);
  background-color: currentColor;
  height: 760px;
}

.c-box-table-1{
  display: flex;
  width: 100%;
  border-radius: 12px;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.9) 0%, #fff 68px);
  background-color: currentColor;
  box-shadow: 20px 20px 20px 0 rgba(58,17,63,0.493);
  height: 100%;
  flex-direction: column;
  justify-content: space-start;
  align-items: center; 
}

.c-social-media {
  width: 2rem;
  height: 2rem;
  display: block;
  font-size: 0;
}

#winnersContent {
  width: 465px;
  text-align: center;
  justify-content: center;
}

.balls {
  display: inline-block;
  width: 26px;
  height: 28px;
  margin: 1px;
  line-height: 25px;
  background: url(../../client/src/assets/images/ball.png) no-repeat;
  color: #00675A;
  font-size: 15px;
  
  text-align: center;
}

.balls1 {
  display: inline-block;
  width: 26px;
  height: 28px;
  margin: 1px;
  line-height: 25px;
  background: url(../../client/src/assets/images/ball.png) no-repeat;
  color: #00675A;
  font-size: 12px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.wnDash {
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: 0 -1px 0 0;
  font-size: 1px;
  text-align: center;
  color: #ffffff;
}

.fireball {
  display: inline-block;
  width: 37px;
  height: 28px;
  margin: 1px;
  line-height: 25px;
  background: url(../../client/src/assets/images/fireball.png) no-repeat;
  color: #ffffff;
  font-size: 15px;
  text-align: left;
  padding: 4px 0 0 8px;
  vertical-align: sub;
}
.paddingTop {
  padding-top: 3px;
}
.numeros{
  top: 20px;
  width: 50px;
  height:515px;
}
.regWeight {
  font-weight: normal;
  font-size: 6px;
}
/* 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
